body {
  background-color: darkgreen;
}

.batman {
  position: relative;
  top: 0;
  left: 0;
  transform: translateX(740px) translateY(300px) scale(6, 6) rotate(110deg);
}

.joker {
  position: absolute;
  top: 0px;
  left: 0px;
}
