body {
  background-color: #c3cfe2;
}
img {
  border-radius: 10px;
  object-fit: cover;
}

.photoBox:hover img {
  opacity: 0;
  transition: 500ms ease-in;
}

.photoBox:hover button {
  opacity: 1;
  transition-delay: 500ms;
}

.photoBox {
  position: relative;
  background-color: rgb(50, 52, 54);
  width: 225px;
  height: auto;
  border-radius: 20px;
}

button {
  position: absolute;
  top: 80px;
  left: 60px;
  padding: 10px;
  font-size: 15px;
  opacity: 0;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}

@media (max-width: 768px) {
  .container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

/* media mobiel is op max-width 600px gezet omdat 320px niet werkt op laptop */
@media screen and (max-width: 600px) {
  .container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
