* {
  margin: 0;
  padding: 0;
}

.social-media-container {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  float: right;
}

ul {
  /* position: absolute;
  bottom: 30px; */
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-right: -320px;
  /* overflow: hidden; */
}

li {
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
  height: 30px;
  width: 350px;
}

li:hover {
  transform: translateX(-250px);
  transition: transform 0.3s ease-in-out;
}

i {
  height: 25px;
  width: 25px;
  padding: 5px;
}

a {
  color: white;
}

.social-media.blog {
  background-color: #e17b77;
}

.social-media.facebook {
  background-color: #3b5998;
}

.social-media.twitter {
  background-color: #00aced;
}

.social-media.github {
  background-color: #333;
}

.social-media.linkedin {
  background-color: #007bb6;
}

/* .fa-laptop-code::before {
  content: '\f5fc';
}
.fa-twitter::before {
  content: '\f099';
}
.fa-linkedin-in::before {
  content: '\f0e1';
}
.fa-facebook-f::before {
  content: '\f39e';
}
.fa-github::before {
  content: '\f09b';
} */
